/* GLOBAL STYLES
-------------------------------------------------- */
/*fonts */
@font-face {
    font-family: "ralewayblack";
    src: url(../fonts/Raleway-Black.ttf) format("truetype");
}
@font-face {
    font-family: "ralewayregular";
    src: url(../fonts/Raleway-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "ralewabold";
    src: url(../fonts/Raleway-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "latoblack";
    src: url(../fonts/Lato-Black.ttf) format("truetype");
}
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
  background-color: #313332;
}
.navbar-inverse .navbar-brand {
    color: white;
    font-family: 'latoblack';
    font-size:20px;
}
.navbar-inverse .navbar-nav>li>a {
    font-family: 'ralewabold';
    color: white;
    font-size: 15px;
}
.navbar-inverse .navbar-nav>.active>a {
    color: #00C7E8;
    background-color: #313332;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.navbar-brand {
  padding-right: 150px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
/* Large desktops and laptops */
@media (min-width: 1200px) {
  /*FOOTER CSS responsive */
  
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .featurette-heading {
    margin-top: 120px;
  }
  /*FOOTER CSS responsive */
  .inner-footer hr {
    margin-left: 135px;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand {
    padding-right: 0px;
  }
  .navbar-nav {
    float: right;
    margin: 0;
  }
  /*FOOTER CSS responsive */
  .inner-footer hr {
    margin-left: 135px;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .navbar-wrapper {
  }
  .container>.navbar-header {
    margin-right: 0;
}
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
  /*FOOTER CSS responsive */
  .inner-footer hr {
    margin-left: 135px;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .navbar-brand {
    padding-right: 0px;
  }
}

/* FOOTER CSS
--------------------------------------------------*/ 
.inner-footer .col-lg-4 {
  margin-bottom: 20px;
  text-align: left;
  color: #fff;
}
.inner-footer h4 {
  font-weight: normal;
  font-family: 'ralewayblack';
  margin-top: 40px;
}
.inner-footer hr {
  border-top: 2px solid #eee;
  width: 70px;
  margin-top: -20px;
}
.inner-footer .about hr {
  margin-left: 102px;
}
.inner-footer .touch-details p {
  margin-left: 75px;
  margin-top: -20px;
}
.inner-footer p {
  font-family: verdana;
}
.footer-details {
  background-color: #313332;
}
.bottom-footer {
  background-color: #252726;
  text-align: center;
  height: 60px;
  color: #fff;
}
.bottom-footer p{
  padding-top: 20px;
  font-family: verdana;
}